<?php
{% for host in groups['Databases'] %}
$servername ="{{hostvars[host].ansible_default_ipv4.address}}";
$username = "{{hostvars[host].username}}";
$password = "{{hostvars[host].password}}";
$hostname = gethostname();
{% endfor %}
// Create connection
$conn = new mysqli($servername, $username, $password);
// Check connection
if ($conn->connect_error) {
    die("$hostname: connection failed (" . $conn->connect_error . ")");
}
echo "$hostname: successfully connected to $servername";
?>
